@import url('https://rsms.me/inter/inter.css');


* {
  box-sizing: border-box;
}

html {
  --width: 44rem;
  --padding: 1rem;

  --skew: -4deg;
  --skew-mn: 0.07;
  /* tan(--rotate) / 2 */
  --skew-padding: calc(var(--width) * var(--skew-mn));

  --light: #ededed;
  --dark: #121212;
  --theme: #00685b;
  --theme-light: #b2dfdb;
  --theme-hover: #004c40;

  scroll-padding-top: var(--padding);
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  scroll-padding-top: var(--padding);
  padding-top: var(--padding);
  margin: 0;
}

/* navbar */

header {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--theme);
  z-index: 900;
}

header>nav {
  margin: 0 auto;
  padding: 0 var(--padding);
  max-width: var(--width);
}

nav {
  display: flex;
  justify-content: stretch;
  line-height: 3rem;
}

nav>a {
  flex: 1 auto;
  display: block;
  padding: 0 var(--padding);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  color: var(--light);
}

nav>a:hover {
  background: var(--theme-hover);
}

/* layout */

main {
  overflow-y: hidden;
}

section {
  position: relative;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: skewY(var(--skew));
}

section:nth-child(2n)::before {
  background: var(--light);
}

section.hero {
  padding-top: 3rem;
}

section.hero::before {
  top: -200px;
  background: var(--theme-light);
}

section>* {
  position: relative;
  max-width: var(--width);
  margin: 0 auto;
  padding: var(--skew-padding) var(--padding);
  transform: skewY(calc(0 - var(--skew)));
}

section.skew>nav {
  padding: 0 var(--padding);
}

.skew>nav {
  transform: skewY(var(--skew));
  max-width: calc(0.75 * var(--width));
  margin: 0 auto;
  line-height: 2rem;
}

.skew>nav>a {
  box-shadow: 0 0 0 .25rem var(--dark);
  background: var(--dark);
  border: .25rem solid var(--light);
  margin: .5rem .25rem;
}

.skew>nav>a+a {
  margin-left: .5rem;
}

.skew>nav>a:hover {
  background: var(--theme-hover);
  box-shadow: 0 0 0 .25rem var(--theme-hover);
}

/* small screens */
@media screen and (max-width: 540px) {
  nav {
    flex-wrap: wrap;
    line-height: 2rem;
  }

  .skew>nav {
    flex-direction: column;
  }
  .skew>nav>a {
    margin: .5rem .25rem;
  }
  .skew>nav>a+a {
    margin-top: .25rem;
    margin-left: .25rem;
  }
}

/* footer */

section.dark {
  color: var(--light);
}

section.dark::before {
  background: var(--dark);
  bottom: -200px;
}

footer {
  padding-bottom: var(--padding);
}

/* external links */
/* a[href^="http"]::after {
  content: " ↗";
} */